h1 Projectlet

p
  span Download and unzip 
  a(href='/media/extension.zip') the extension
  span . Then, in the Chrome's window menu, open the extensions tab. Click "enable developer mode" and add the extension as a folder.

